[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public"]
	path = public
	url = https://github.com/kalyan-biswas/kalyan-biswas.github.io.git
	branch = main
